.podcastPlayer {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   padding: 12px 64px;
   box-sizing: border-box;
   backdrop-filter: blur(14px);
}

.podcastPlayerCard,
.controls,
.progress {
   display: flex;
   flex-direction: row;
   align-items: center;
}

.podcastPlayerCard {
   gap: 16px;
}

.thumbnail {
   width: 64px;
   height: 64px;
   border-radius: 12px;
}

.title {
   font-size: 18px;
   font-weight: 500;
   color: var(--color-text);
}

.controls {
   justify-content: space-between;
   gap: 48px;
}
.progress {
   gap: 16px;
}
