.suggestedCardContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 16px;
}

.suggestedCard {
   position: relative;
   width: 100%;
   max-height: 200px;
   border-radius: 12px;
   overflow: hidden;
}
.suggestedCardThumbnail {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.info {
   position: absolute;
   bottom: 0px;
   left: 0;
   width: 100%;
   display: flex;
   gap: 2px;
   flex-direction: column;
   padding: 12px;

   backdrop-filter: blur(18px);
}

.podName {
   font-weight: 600;
   font-size: 14px;
   color: var(--color-text);
}
.author {
   font-size: 12px;
   color: var(--color-text-secondary);
}
