.listItem {
   margin: 0;
   padding: 0 8px;
   list-style: none;
}
.trendingPod {
   display: flex;
   flex-direction: column;
   gap: 100px;
}
.podCardImg {
   max-width: 200px;
   max-height: 200px;
   border-radius: 8px;
}
