*,
*::before,
*::after {
   box-sizing: border-box;
}
* {
   margin: 0;
}
html {
   scrollbar-gutter: stable;
}
body {
   line-height: 1.5;
   -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}
input,
button,
textarea,
select {
   font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
   overflow-wrap: break-word;
   color: var(--color-text);
}

span,
svg,
path {
   color: var(--color-text);
}

html {
   --content-width: 55rem;
   --outer-content-width: 80rem;
   --viewport-padding: 16px;
   --header-height: 5rem;
}

/* GLOBAL STYLES */
html {
   color: var(--color-text);
   font-family: var(--font-family), sans-serif;
}

body {
   min-height: 100vh;
   min-height: 100svh;
   display: flex;
   flex-direction: column;
   background: var(--color-backdrop);
   border-bottom: 3px solid var(--color-decorative-600);
}
