.section {
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.row {
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
}

.column {
   list-style: none;
}
