.row {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   gap: 8px;
}

.thumbnail {
   width: 64px;
   height: 64px;
   border-radius: 4px;
}

.pod,
.stats,
.stat,
.figure {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 16px;
}
