button {
   width: 100%;
}

.thumbnail {
   width: 64px;
   height: 64px;
   border-radius: 4px;
}

.pod,
.stats,
.stat,
.figure {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 16px;
}

.ranking {
   display: inline-block;
}

/*  */
.row {
   margin: 2px 0px;
}

.item {
   display: flex;
   width: 100%;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 16px;
}
.pod {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
   padding-bottom: 8px;
   border-bottom: 1px solid #868e96;
}

.podTitle {
   word-break: break-word;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   gap: 8px;
}
