button {
   border: none;
   background-color: transparent;
}

.controls,
.progress {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   gap: 16px;
}
.shuffleButton {
}
.previousButton {
}
.pauseButton {
}
.playButton {
}
.nextButton {
}
.repeatButton {
}

.propress {
}
