.suggestedCards {
   display: flex;
   width: 100%;
   flex-direction: column;
   gap: 16px;
}

.header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   white-space: nowrap;
}
